@tailwind base;
@tailwind components;
@tailwind utilities;


.headerhover:hover{
    text-decoration: underline red solid 3px;
    text-underline-offset: 18px;
}

body {
    background-image: url(../image/nasa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* footer */

.sideborder{
    border-right: solid #a3a3a3 1px;
    padding-right: 1rem;
}