@tailwind base;
@tailwind components;
@tailwind utilities;


.headerhover:hover{
    text-decoration: underline red solid 3px;
    text-underline-offset: 18px;
}

.backgroundimage {
    background-image: url(../image/nasa.jpg);
    background-size: cover;
}